.Cards-container{
    position: relative;
}
.Cards-title{
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat" ,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
}
.Cards-img{
    width: 250px;
    height: 200px;
}
.Cards-img-a{
    width: 100px;
    height: 100px;
}